*{
    padding: 0px;
    margin: 0px;
}
.container{
    position: relative;
}
.playback{
    width: 600px;
    border-radius: 15px;
}

.video-container {
    position: relative;
}

.video-container h1{
    position: absolute;
    color: aliceblue;
    left: 200px;
    top: 30%;
    background: -webkit-linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); 
 -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
